# **라이브러리 정의**

# **라이브러리 정의**

In [18]:
import os
import pandas as pd
from supabase import create_client, Client

# **사용자 정보 초기화**

In [19]:
# 엔드포인트 URL 및 API 키 설정
SUPABASE_URL = 'https://yhayrbotkkuuvoxzhqct.supabase.co'
SUPABASE_KEY = 'sb_secret_5rUltxbkuiB3wFcTyMs1qw_cJHFo3kf'

# 클라이언트 연결
try:
    supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)
    print("Supabase 클라이언트 연결 완료.")
except Exception as e:
    print(f"Supabase 클라이언트 연결 실패: {e}")

def validation(response):
    if response.data:
        print("데이터베이스 적용 완료")
    else:
        print("코드를 재확인해주세요.")

Supabase 클라이언트 연결 완료.

# **기본 문법**
: 모든 쿼리 로직 정의 이후 최종적으로 결과물을 얻으려면 아래 메서드를 이어붙여야함
- .execute().data

## **테이블 및 컬럼 선택**

In [3]:
# Query : select * from quiz

# 1. 테이블 선택 (from)
select_table = supabase.from_('quiz')

# 2. 컬럼 선택 (select)
select_table_column = select_table.select('*')

## **특정 값 필터 : 단수**

In [4]:
# 3-1. 특정 값 필터 (단수)
third = select_table_column.eq('category', 'Basic')

df = pd.DataFrame(third.execute().data)
df.head(2)

,category,sub_category,question,answer,explanation
0,Basic,배당금,배당수익률은 배당금을 주가로 나눈 비율이다.,O,배당수익률 = 주당 배당금 / 주가 × 100
1,Basic,주식,주식은 은행에서만 거래할 수 있다.,X,"주식은 증권사를 통해 거래하며, 은행은 주식 거래 서비스를 제공하지 않는다."

## **특정 값 필터 : 복수 (AND)**

In [5]:
# 3-2. 특정 값 필터 (복수 : AND)
third_and = select_table_column.eq('category', 'Basic').eq('sub_category', '배당금')

df = pd.DataFrame(third_and.execute().data)
df.head(2)

,category,sub_category,question,answer,explanation
0,Basic,배당금,배당수익률은 배당금을 주가로 나눈 비율이다.,O,배당수익률 = 주당 배당금 / 주가 × 100
1,Basic,배당금,보통주는 배당금이 정해져 있다.,X,보통주는 배당금이 정해져 있지 않고 기업 정책에 따라 달라진다.

## **특정 값 필터 : 복수 (OR)**
- 'category.eq.Basic' : category 컬럼의 값이 'Basic'
- 'answer.eq.O' : answer 컬럼의 값이 'O'

- 비교 연산자 : eq(=), neq(!=), gt(>), gte(>=), lt(<), lte(<=)

In [6]:
# 3-4. 특정 값 필터 (복수 : OR)

# 조건 정의
condition = 'category.eq.Basic, answer.eq.O'

# .or_()
third_or = select_table_column.or_(condition)

df = pd.DataFrame(third_or.execute().data)

df.head(2)

,category,sub_category,question,answer,explanation
0,Basic,배당금,배당수익률은 배당금을 주가로 나눈 비율이다.,O,배당수익률 = 주당 배당금 / 주가 × 100
1,Basic,배당금,보통주는 배당금이 정해져 있다.,X,보통주는 배당금이 정해져 있지 않고 기업 정책에 따라 달라진다.

## **정렬 : 오름차순 / 내림차순**
: 랭킹 or 게시판 시스템에 사용하기 유용

In [7]:
response = supabase.from_('quiz').select('*').order('sub_category', desc = True).limit(2).execute().data

df = pd.DataFrame(response)
df.head(2)

,category,sub_category,question,answer,explanation
0,financial,현금흐름표,현금흐름표는 기업의 자산 증가 여부를 나타낸다.,X,현금흐름표는 실제 현금 유입과 유출을 보여주는 보고서다.
1,financial,현금흐름표,현금흐름표는 투자자산 증가 여부를 직접적으로 나타낸다.,O,투자활동현금흐름 항목을 통해 확인 가능하다.

# **행 추가**

In [8]:
# 행 정보 입력 -> 컬럼명: 내용
insert_row = {
    'data_code': 'financial_현금흐름',
    'type': 'financial',
    'title': '현금흐름',
    'markdown_text': '현금흐름은 테스트로 넣은 임시 정보입니다.'
}

response = supabase.table('education_data').insert(insert_row).execute()

validation(response)

데이터베이스 적용 완료

# **행 삭제**

In [9]:
# 특정 행 삭제
response = supabase.table('education_data').delete().eq('data_code', 'financial_현금흐름').execute()

validation(response)

# 여러 행 삭제
# delete_primary_keys = ['financial_현금흐름', 'financial_임시데이터']

# supabase.table('education_data').delete().eq('data_code', delete_primary_keys).execute()

데이터베이스 적용 완료

# **행 안의 데이터 수정**
- table(): 수정할 테이블
- update(): 업데이트할 내용 -> {컬럼명: 내용}
- eq() : update가 적용될 대상 -> Key, Value

In [10]:
# 데이터 수정 (테스트)
update_value = {
    'title': 'Test update'  # title 컬럼을 test update로 변환
}

response = supabase.table('education_data').update(update_value).eq('data_code', 'financial_재무상태표').execute()

validation(response)

데이터베이스 적용 완료

In [11]:
# 데이터 원복
update_value = {
    'title': '재무상태표'
}

response = supabase.table('education_data').update(update_value).eq('data_code', 'financial_재무상태표').execute()

validation(response)

데이터베이스 적용 완료

In [5]:
user_info = supabase.from_('user_info').select('id', 'pw').execute().data

df = pd.DataFrame(user_info)

df.head()

             id                                                 pw
0  gildong_hong  $2b$12$IRFempd4zfVRSWUF80bgH.rx0VHehhTG69rCJM8...

In [24]:
import time

def table_to_csv(table_name, batch_size = 1000):
    all_data = []
    offset = 0

    while True:
        try:
            response = supabase.table(table_name).select('*').range(offset, offset + batch_size-1).execute()
            chunk = response.data

            if len(chunk) < batch_size:
                print("Success load all data")
                all_data.extend(chunk)
                break

            all_data.extend(chunk)

            offset += batch_size

        except Exception as e:
            print(f"Data load error: {e}")
            break
    
    if all_data:
        df = pd.DataFrame(all_data)
        df.to_csv('./stock_price_data.csv')

        return df
    else:
        return print("No data")

df = table_to_csv('technical_data')

df

Success load all data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,SMA_5,SMA_20,...,RSI,%K,%D,ADX,+DI,-DI,ATR,OBV,MACD_Hist,id
0,2000-01-04,4245.21,4323.04,4004.65,4323.04,74195000,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,318.39,0,0.00,1
1,2000-01-05,4103.71,4287.66,3905.60,3948.05,74680000,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,100.00,0.00,3.98,331.60,-74680000,-6.73,2
2,2000-01-06,4068.33,4089.55,3948.05,3976.35,54390000,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,100.00,0.00,3.74,306.25,-20290000,-6.53,3
3,2000-01-07,3933.90,4011.73,3792.39,3919.75,40305000,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,100.00,0.00,10.41,294.66,-60595000,-7.18,4
4,2000-01-10,3962.20,4082.48,3948.05,4082.48,46880000,0.0,0.0,4049.93,0.0,...,0.00,0.00,0.00,93.02,3.40,9.59,277.07,-13715000,-1.43,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46568,2025-08-01,496500.00,496500.00,455000.00,476500.00,440367,0.0,0.0,475200.00,421725.0,...,80.13,71.37,79.97,45.83,39.29,15.38,25496.01,8511948,8648.99,46569
46569,2025-08-04,466000.00,470000.00,451000.00,463500.00,230145,0.0,0.0,475000.00,426025.0,...,72.40,60.08,71.45,44.74,34.05,15.42,25496.54,8281803,6751.30,46570
46570,2025-08-05,467500.00,477500.00,464000.00,464000.00,208970,0.0,0.0,473100.00,429750.0,...,71.19,58.47,63.31,44.49,35.57,14.22,23963.67,8490773,5140.12,46571
46571,2025-08-06,459500.00,480500.00,451500.00,466500.00,247270,0.0,0.0,472200.00,433325.0,...,72.15,60.09,59.55,41.63,29.99,18.75,24635.18,8738043,3908.91,46572
46572,2025-08-07,474500.00,486750.00,471000.00,475000.00,259830,0.0,0.0,469100.00,437050.0,...,72.79,65.30,61.29,39.92,30.09,16.65,24050.49,8997873,3354.38,46573